body {
  background: #ffffff;
}

/* Шапка  logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo1 {
  color: #000000;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Шапка  Navigation */
.meny-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.meny-link:hover,
.meny-link:focus,
.current {
  color: #2196f3;
}

/* шапка контакты */

.contakts-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contakts-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #757575;
}
.contakts-mail:hover,
.contakts-mail:focus {
  color: #2196f3;
}
.contakts-tel:hover,
.contakts-tel:focus {
  color: #2196f3;
}

/*ГЕРОЙ СЕКЦИЯ */

.heroi {
  background: #2f303a;
}
.heroi-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-heroi {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.button-heroi:hover,
.button-heroi:focus {
  background: #2196f3;
}
